.MatchHistory {
    text-align: center;
}

.MatchHistory-logo {
    animation: MatchHistory-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.MatchHistory-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.MatchHistory-input {
    text-align: center;
}

.MatchHistory-link {
    color: #61dafb;
}

.MatchHistory-matches {
    min-width: 600px;
    align-items: center;
    padding: calc(1vw + 10px);
    overflow-y: auto;
    overflow-x: hidden;
    height: 67vh;
}

.MatchHistory-matches-button {
}

.MatchHistory-matches-button-span {
    height: 45px;
}

@keyframes MatchHistory-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
