.MatchView {
    background-color: lightcoral;
    display: grid;
    grid-template-columns: 10% 10vh 20% auto 30% 10%;
    grid-template-areas: "MatchView-win MatchView-championIcon MatchView-champion MatchView-KDA MatchView-build MatchView-stats";
    padding-top: 1vh;
    padding-bottom: 1vh;
    box-sizing: border-box;
    font-size: 20px;
    vertical-align: middle;
    color: #282c34;
    min-height: calc(13vh + 1px);
    min-width: 600px;
}

.MatchView[win="Win"] {
    background-color: rgb(182, 226, 176);
}

.MatchView-span {
    display: block;
    padding-bottom: 5px;
}

.MatchView-win {
    grid-area: MatchView-win;
}

.MatchView-championIcon > img {
    height: 9vh;
    width: 9vh;
    background-color: #61dafb;
    padding: 0.5vh;
}

.MatchView-champion {
    grid-area: MatchView-champion;
}

.MatchView-KDA {
    grid-area: MatchView-KDA;

    display: grid;
    grid-template-rows: 50% auto;
    grid-template-columns: 33% 33% auto;
    grid-template-areas:
        "MatchView-KDA-kda MatchView-KDA-kda MatchView-KDA-kda"
        "MatchView-KDA-kills MatchView-KDA-deaths MatchView-KDA-assists";
    padding: 10px;
}

.MatchView-KDA-kda {
    grid-area: MatchView-KDA-kda;
    padding-bottom: 30px;
}

.MatchView-KDA-kills {
    grid-area: MatchView-KDA-kills;
}

.MatchView-KDA-deaths {
    grid-area: MatchView-KDA-deaths;
}

.MatchView-KDA-assists {
    grid-area: MatchView-KDA-assists;
}

.MatchView-build {
    grid-area: MatchView-build;
}

.MatchView-stats {
    grid-area: MatchView-stats;
}

.MatchView-stats-level {
}

.MatchView-stats-cs {
}
