.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-input {
    text-align: center;
}

.App-link {
    color: #61dafb;
}

.App-matches {
    width: 50%;
    align-items: center;
    padding: 10px;
    overflow-y: auto;
    height: 67vh;
}

.App-matches-button {
}

.App-matches-button-span {
    height: 45px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
